body{
	background-color:#F6F1E0;
	margin:          0;
	margin-top:200px;}

p{
	font:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	padding: 0px 20px 0px 20px
	}


	
header{
	}
	
h1{text-align:center}
	
h2{
	padding: 0px 0px 0px 20px
}

h3{
	padding: 0px 0px 0 20px
}

dt{
	padding: 0px 0px 0px 20px}
dd{
	padding: 0px 0px 5px 0px}
	
header{
	position:fixed;top:0;
	width:100%;
	font-size:100%;
	font-family:Constantia,
	 			"Lucida Bright",
			    "DejaVu Serif",
			     Georgia,
				 serif;
	 background-color:#630001;
	 align-content:center;
	 color:#FFFCEC; 
	 align-content:center;
	 padding:20px 20px 20px 20px;
	 align-text:center;}

display{
	 display:flex;}

nav{
	padding:20px 20px 20px 20px;
	background-color:#CEAB6B;
	clear:both;
	align-content:left;}
	
nav ul {
	list-style-type: none;
	margin:0;
	padding:0 0 20px 0;
	text-align:center}
	
nav li {
	float: left;
	margin-right: 20px;
	margin-left: 40px;
}




img src{
	align-content:center;}
	
div{
	align-content:center;}
	
a:link{
	color:#7A4E35}
	
a:visited{
	color:#997A34}
	
a:active{
	color:#8B7E5B}

footer{
	font-size:small
	}



